<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.htm" />
      </files>
    </defaultDocument>
    
    <rewrite>
      <rules>
        <rule name="Rewrite worker" stopProcessing="true">
          <match url="^worker/?$" />
          <action type="Rewrite" url="worker.html" />
        </rule>
        <rule name="Rewrite governance" stopProcessing="true">
          <match url="^governance/?$" />
          <action type="Rewrite" url="governance.html" />
        </rule>
        <rule name="Rewrite community" stopProcessing="true">
          <match url="^community/?$" />
          <action type="Rewrite" url="community.html" />
        </rule>
        <rule name="Rewrite about" stopProcessing="true">
          <match url="^about/?$" />
          <action type="Rewrite" url="about.html" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>
